.post-excerpt {
  display: flex;
  justify-content: space-between;
}

.date {
  width: 15%;
  font-weight: 200;
  font-size: 14px;
  padding-top: 5px;
}

.title {
  width: 70%;
  font-weight: 400;
}

.title a {
  background-image: none;
}

.title a:hover {
  color: #207d8e;
}