.sidebarWrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  width: 240px;
  background: #111;
  margin-bottom: 0;
  text-align: left;
  overflow-y: auto;
  -webkit-transition: -webkit-transform 0.5s ease, opacity 0.3s ease 0.7s;
  transition: transform 0.5s ease, opacity 0.3s ease 0.7s;
  font-weight: 700;
  font-size: 11px;
  color: #909090;
  opacity: 0;
}

.show {
  opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transition: transform 0.3s ease, opacity 0s ease 0s;
}

.hide {
  opacity: 0;
}

.nav {
  padding: 20px 10px;
  list-style: none;
  color: #eee;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav a {
  color: #fefefe;
  text-decoration: none;
  font-weight: 500;
  background: none;
}

.nav a:hover {
  color: #80d0c7;
}